* {
    margin: 0;
    padding: 0;
}

/* --------------- General styles ---------------  */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:rgba(0, 0, 0, 0.95);
    text-align: center;
    margin-top: 69px;
}

/* --------------- Links href ---------------  */

a { 
    color: seashell; 
}

a:hover {
    color: grey;
}

/* --------------- Nav bar ---------------  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.nav-item {
    display: inline-block;  
    text-decoration: underline;  
    padding: 0 20px
}

.logo {
    height: 50px;
    padding: 7px 10px;
}

/* --------------- Our Mission section --------------- */

.container1 {
    margin: auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    display: flex;
    max-width: 1200px;
    height: 700px;
}

.headtext {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.headtext h2,
.headtext h4 {
    padding: 15px;
}

/* --------------- tea of the month section ---------------  */

.container2 {
    max-width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.featured img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.featured h2 {
    padding-top: 70px;
}

.featured h4 {
    padding-bottom: 20px;
}

/*  --------------- Locations section ---------------  */

.background {
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
}

.container3 {
    display: flex;
    flex-flow:wrap;
    margin-left: 20px;
    justify-content: center;
}

.location-item {
    min-height: 300px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.90);
    padding: 50px 20px 50px 20px;
    margin: 15px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background h2 {
    padding-top: 50px;
}

/* --------------- Footer section ---------------  */

.cozy {
    height: 200px;
    text-align: center;
}

.cozy h2 {
    padding: 10px;
}

.cozy h5 {
    padding: 20px;
}

footer {
    text-align: left;
    padding: 20px;
}

/* --------------- Nav Bar responsiveness --> Make navbar appear in a column instead of inline when screen shrinks ---------------   */

@media only screen and (max-width: 600px) {
    
    .navbar {
        display: block;
    }

    .navbar li {
        font-size: 18px;
        padding: 8px;
        display: block;
    }

    item.nav {
        display: block;
    }

    li {
        list-style-type: none;
    }
}

